/**
 * boxsharp: a responsive lightbox pop-up window with CSS3 and vanilla JavaScript
 * @author Levente Hunyadi
 * @version 0.1
 * @copyright 2025 Levente Hunyadi
 * @see https://hunyadi.info.hu/projects/boxsharp
 * @see https://github.com/hunyadi/boxsharp
**/

.backdrop {
    position: fixed;
    box-sizing: border-box;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 9999;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: rgba(0, 0, 0, 0.75);
}

.progress {
    display: inline-block;
    position: absolute;
    box-sizing: border-box;
    width: 80px;
    height: 80px;
    top: 50%;
    left: 50%;
    margin: -40px 0 0 -40px;
    border-radius: 100%;
    border: 10px solid rgba(255, 255, 255, 0.2);
    border-top-color: #fff;
    animation: spin 1s infinite linear;
    mix-blend-mode: difference;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

figure {
    margin: 20px;
    border: 3px solid darkgray;
    border-radius: 20px;
    overflow: hidden;

    position: relative;
    box-sizing: border-box;
    max-width: 100%;
    max-height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: rgba(255, 255, 255, 0.5);
}

figure.zoom-from {
    opacity: 0;
    transform: scale(0.2);
}

figure.zoom-to {
    opacity: 1;
    transform: scale(1);
    transition: opacity 1.0s ease, transform 1.0s ease;
}

boxsharp-draggable,
picture,
img,
video,
iframe {
    display: block;
    box-sizing: border-box;
    max-width: 100%;
    object-fit: contain;
    user-select: none;
}

div.unavailable {
    font-size: 200px;
}

figcaption {
    box-sizing: border-box;
    padding: 0 20px;
    max-width: 100%;

    flex: 0 0;
}

figure>nav>* {
    background: none center no-repeat;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 60px;
    background: rgba(0, 0, 0, .5) 50% no-repeat;
}

figure>nav>.prev {
    left: 0;
    opacity: 0;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI0OCIgaGVpZ2h0PSI0OCIgdmlld0JveD0iMCAwIDEwMCAxMDAiPjxwYXRoIGQ9Ik01NSAxNXY3MEwzMCA1MHptMTUgMjB2MzBINTVWMzV6IiBmaWxsPSIjZmZmIi8+PC9zdmc+);
}

figure>nav>.next {
    right: 0;
    opacity: 0;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI0OCIgaGVpZ2h0PSI0OCIgdmlld0JveD0iMCAwIDEwMCAxMDAiPjxwYXRoIGQ9Ik00NSAxNXY3MGwyNS0zNXpNMzAgMzV2MzBoMTVWMzV6IiBmaWxsPSIjZmZmIi8+PC9zdmc+);
}

figure>nav>.prev:hover,
figure>nav>.next:hover {
    opacity: 1;
}

@media (hover: none) and (pointer: coarse) {

    figure>nav>.prev,
    figure>nav>.next {
        display: none;
    }
}

div.expander {
    margin: 12px;
    padding: 12px;
    border-radius: 10px;
    position: absolute;
    top: 0;
    right: 0;
    width: 24px;
    height: 24px;
    background: rgba(0, 0, 0, .5) 50% no-repeat;
    background-size: 32px 32px;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M2 2v7h2V5.406L8.594 10 10 8.594 5.406 4H9V2H2zm13 0v2h3.594L14 8.594 15.406 10 20 5.406V9h2V2h-7zM8.594 14L4 18.594V15H2v7h7v-2H5.406L10 15.406 8.594 14zm6.812 0L14 15.406 18.594 20H15v2h7v-7h-2v3.594L15.406 14z' fill='%23fff'/%3E%3C/svg%3E")
}

div.expander:hover {
    background-size: 40px 40px;
}

div.expander.expanded {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' version='1,1'%3E%3Cpath d='M3.406 2L2 3.406 6.594 8H3v2h7V3H8v3.594L3.406 2zm17.188 0L16 6.594V3h-2v7h7V8h-3.594L22 3.406 20.594 2zM3 14v2h3.594L2 20.594 3.406 22 8 17.406V21h2v-7H3zm11 0v7h2v-3.594L20.594 22 22 20.594 17.406 16H21v-2h-7z' fill='%23fff'/%3E%3C/svg%3E")
}

.hidden {
    display: none !important;
}
