/**
 * boxsharp: a responsive lightbox pop-up window with CSS3 and vanilla JavaScript
 * @author Levente Hunyadi
 * @version 0.1
 * @copyright 2025 Levente Hunyadi
 * @see https://hunyadi.info.hu/projects/boxsharp
 * @see https://github.com/hunyadi/boxsharp
**/

.backdrop {
    position: fixed;
    box-sizing: border-box;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 9999;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: rgba(0, 0, 0, 0.75);
}

.progress {
    display: inline-block;
    position: absolute;
    box-sizing: border-box;
    width: 80px;
    height: 80px;
    top: 50%;
    left: 50%;
    margin: -40px 0 0 -40px;
    border-radius: 100%;
    border: 10px solid rgba(255, 255, 255, 0.2);
    border-top-color: #fff;
    animation: spin 1s infinite linear;
    mix-blend-mode: difference;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

figure {
    margin: 20px;
    border: 3px solid darkgray;
    border-radius: 20px;
    overflow: hidden;

    position: relative;
    box-sizing: border-box;
    max-width: 100%;
    max-height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: rgba(255, 255, 255, 0.5);
}

figure.zoom-from {
    opacity: 0;
    transform: scale(0.2);
}

figure.zoom-to {
    opacity: 1;
    transform: scale(1);
    transition: opacity 1.0s ease, transform 1.0s ease;
}

boxsharp-draggable,
picture,
img,
video,
iframe {
    display: block;
    box-sizing: border-box;
    max-width: 100%;
    object-fit: contain;
    user-select: none;
}

div.unavailable {
    font-size: 200px;
}

figcaption {
    box-sizing: border-box;
    padding: 0 20px;
    max-width: 100%;

    flex: 0 0;
}

nav>* {
    background: none center no-repeat;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 60px;
    background: rgba(0, 0, 0, .5) 50% no-repeat;
}

nav>.prev {
    left: 0;
    opacity: 0;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxMDAgMTAwIj48cGF0aCBkPSJNNTUgMTV2NzBMMzAgNTB6bTE1IDIwdjMwSDU1VjM1eiIgZmlsbD0iI2ZmZiIvPjwvc3ZnPg==);
}

nav>.next {
    right: 0;
    opacity: 0;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxMDAgMTAwIj48cGF0aCBkPSJNNDUgMTV2NzBsMjUtMzV6TTMwIDM1djMwaDE1VjM1eiIgZmlsbD0iI2ZmZiIvPjwvc3ZnPg==);
}

nav>.prev:hover,
nav>.next:hover {
    opacity: 1;
}

@media (hover: none) and (pointer: coarse) {

    nav>.prev,
    nav>.next {
        display: none;
    }
}

.expander {
    margin: 12px;
    padding: 12px;
    border-radius: 10px;
    position: absolute;
    top: 0;
    right: 0;
    width: 24px;
    height: 24px;
    background: rgba(0, 0, 0, .5) 50% no-repeat;
    background-size: 24px 24px;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0OCA0OCI+PHBhdGggZD0iTTAgMHYxNmg0VjRoMTJWMHptMyAwTDAgM2wxNyAxNyAzLTN6TTAgNDhWMzJoNHYxMmgxMnY0em0zIDAtMy0zIDE3LTE3IDMgM3ptNDUgMFYzMmgtNHYxMkgzMnY0em0tMyAwIDMtMy0xNy0xNy0zIDN6bTMtNDh2MTZoLTRWNEgzMlYwem0tMyAwIDMgMy0xNyAxNy0zLTN6IiBmaWxsPSIjZmZmIi8+PC9zdmc+)
}

.expander:hover {
    background-size: 32px 32px;
}

.expander.expanded {
    background-size: 32px 32px;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0OCA0OCI+PHBhdGggZD0iTTIwIDIwVjRoLTR2MTJINHY0em0tMyAwIDMtM0wzIDAgMCAzem0zIDh2MTZoLTRWMzJINHYtNHptLTMgMCAzIDNMMyA0OGwtMy0zem0xMSAwdjE2aDRWMzJoMTJ2LTR6bTMgMC0zIDMgMTcgMTcgMy0zem0tMy04VjRoNHYxMmgxMnY0em0zIDAtMy0zTDQ1IDBsMyAzeiIgZmlsbD0iI2ZmZiIvPjwvc3ZnPg==)
}

.expander.expanded:hover {
    background-size: 24px 24px;
}

.hidden {
    display: none !important;
}
