/**
 * boxsharp: a responsive lightbox pop-up window with CSS3 and vanilla JavaScript
 * @author Levente Hunyadi
 * @version 0.1
 * @copyright 2025 Levente Hunyadi
 * @see https://hunyadi.info.hu/projects/boxsharp
 * @see https://github.com/hunyadi/boxsharp
**/

* {
    box-sizing: border-box;
}

.backdrop {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 9999;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: rgba(0, 0, 0, 0.75);
}

.progress {
    display: inline-block;
    position: absolute;
    width: 80px;
    height: 80px;
    top: 50%;
    left: 50%;
    /* offset by half of height to center spinner */
    margin: -40px 0 0 -40px;
    border-radius: 100%;
    border: 10px solid rgba(255, 255, 255, 0.2);
    border-top-color: #fff;
    animation: spin 1s infinite linear;
    mix-blend-mode: difference;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

figure {
    margin: 0;
    border: 3px solid darkgray;
    border-radius: 20px;
    overflow: hidden;

    position: relative;
    max-width: 100%;
    max-height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: rgba(255, 255, 255, 0.5);
}

figure.zoom-from {
    opacity: 0;
    transform: scale(0.2);
}

figure.zoom-to {
    opacity: 1;
    transform: scale(1);
    transition: opacity 1.0s ease, transform 1.0s ease;
}

boxsharp-draggable,
picture,
img,
video,
iframe,
section {
    display: block;
    max-width: 100%;
    object-fit: contain;
}

boxsharp-draggable,
picture,
img,
video {
    user-select: none;
}

section {
    padding: 10px;
    overflow-y: auto;
}

.missing {
    padding: 70px 0;
    font-size: 200px;
}

figcaption {
    padding: 0 20px;
    max-height: 20vh;
    max-width: 100%;
    overflow-y: auto;

    flex: 0 0;
}

nav>* {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 68px;
    height: 180px;
    background: rgba(0, 0, 0, 0.5) 50% no-repeat;
    opacity: 0;
}

nav>*:hover {
    opacity: 1;
}

nav>.prev {
    left: 0;
    border-radius: 0 10px 10px 0;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyMCAyMCI+PHBhdGggZD0ibTExIDMtNSA3IDUgN3YtNGgzVjdoLTN6IiBmaWxsPSIjZmZmIi8+PC9zdmc+);
}

nav>.next {
    right: 0;
    border-radius: 10px 0 0 10px;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyMCAyMCI+PHBhdGggZD0ibTkgMyA1IDctNSA3di00SDZWN2gzeiIgZmlsbD0iI2ZmZiIvPjwvc3ZnPg==);
}

@media (hover: none) {

    nav>.prev,
    nav>.next {
        display: none;
    }
}

figure>div {
    margin: 20px;
    padding: 12px;
    border-radius: 10px;
    position: absolute;
    width: 48px;
    height: 48px;
    background: rgba(0, 0, 0, 0.25) 50% no-repeat;
    transition: background-size 0.1s linear;
}

figure>div:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

.expander {
    top: 0;
    left: 0;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0OCA0OCI+PHBhdGggZD0iTTAgMHYxNmg0VjdsMTMgMTMgMy0zTDcgNGg5VjB6bTAgNDhWMzJoNHY5bDEzLTEzIDMgM0w3IDQ0aDl2NHptNDggMFYzMmgtNHY5TDMxIDI4bC0zIDMgMTMgMTNoLTl2NHptMC00OHYxNmgtNFY3TDMxIDIwbC0zLTNMNDEgNGgtOVYweiIgZmlsbD0iI2ZmZiIvPjwvc3ZnPg==);
}

.expander,
.expander.expanded:hover {
    background-size: 24px 24px;
}

.expander:hover,
.expander.expanded {
    background-size: 32px 32px;
}

.expander.expanded {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0OCA0OCI+PHBhdGggZD0ibTAgMyAxMyAxM0g0djRoMTZWNGgtNHY5TDMgMHptMCA0MiAxMy0xM0g0di00aDE2djE2aC00di05TDMgNDh6bTQ4IDBMMzUgMzJoOXYtNEgyOHYxNmg0di05bDEzIDEzem0wLTQyTDM1IDE2aDl2NEgyOFY0aDR2OUw0NSAweiIgZmlsbD0iI2ZmZiIvPjwvc3ZnPg==);
}

.close {
    top: 0;
    right: 0;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0OCA0OCI+PHBhdGggZD0ibTkgMTYgOCA4LTggOCA3IDcgOC04IDggOCA3LTctOC04IDgtOC03LTctOCA4LTgtOHoiIGZpbGw9IiNmZmYiLz48L3N2Zz4=);
}

.hidden,
.disabled {
    display: none !important;
}
